.button {
    height: 36px;
    white-space: nowrap;
    background: none;
    border: none;

    @media (max-width: 1024px) {
        white-space: normal;
    }
}

.button, .button:hover, .button:active, .button:focus {
    outline:0;
}

.button:hover {
    color: #616161;
}

.button {
    &__icon {
        @media (max-width: 1024px) {
            display: none;
        }
        padding-left: 12px;
    }

    &_role_primary {
        color: #03A9F4;
        text-transform: uppercase;
        font-weight: bold;
    }
}

