.button {
    height: 36px;
    white-space: nowrap;
    background: none;
    border: none;
    outline: 0;

    @media (max-width: 1024px) {
        white-space: normal;
    }

    &:hover, &:active, &:focus {
        outline: 0;
    }

    &:hover {
        color: #616161;
    }

    &__icon {
        @media (max-width: 1024px) {
            display: none;
        }
        padding-left: 12px;
    }

    &_role_primary {
        color: #03A9F4;
        text-transform: uppercase;
        font-weight: bold;
    }
}
