.exibits-table  {

    &__row {
        height: 48px;
        cursor: pointer;
    }

    thead > tr > th {
        vertical-align: middle;
        /* padding: 0px 56px 0px 56px; */
    }

    .table {
        height: 100%;
        table-layout: fixed;
        
        tbody {
            height: 100%;
        }
    }

    .table &__column {
        /* padding: 0px 56px 0px 56px; */

        &_name {
            width: 24%;
        }

        &_organization {
            width: 16%;
        }

        &_origin {
            width: 16%;
        }

        &_description {
            width: 40%;
        }
    }
 }
 
