.exibits-table  {

    &__pager {
        float: right;
    }

    &__row {
        height: 48px;
        cursor: pointer;

        &_selected {
            border-left: 10px solid #1e88e5;
        }
    }

    thead > tr > th {
        vertical-align: middle;
        
        @media (max-width: 1024px) {
            font-size: 10px;
        }

        @media (max-width: 480px) {
            font-size: 8px;
            text-align: center;
        }
    }

    .table {
        height: 100%;
        table-layout: fixed;
        
        tbody {
            height: 100%;
        }

        tfoot {
            & > tr > td {
                padding: 0;
            }
        }
    }

    .table &__column {
        &_name {
            width: 24%;
        }

        &_organization {
            width: 16%;
        }

        &_origin {
            width: 16%;
        }

        &_description {
            width: 40%;
        }
    }
 }
 
