.exibits-main {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    
    &__add {
        padding-left: 24px;
        padding-right: 24px;
        height: 56px;

        &:hover {
            background: #E0E0E0;
        }
    }
}