.editable-field {
    height: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    
    &__input {
        outline: none;
        border-bottom: 2px solid #1e88e5;
        width: 100%;
        min-height: 3ch;
    }
}