.checkbox {
    display: inline-block;

    label {
        padding: 0;
        margin: 0;
    }

    &__input {
        display: none;
    }

    &__icon {
        visibility: hidden;

        &_checked {
            visibility: visible;
        }
    }
}